.heading {
  color: bisque;
  background-color: #8a624a;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.detailsTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  background: white;
}

.detailsTable th,
.detailsTable td {
  padding: 12px 15px;
  border-bottom: 1px solid bisque;
}

.detailsTable th {
  background-color: darkseagreen;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.detailsTable tr {
  transition: background-color 0.3s ease;
}

.detailRow:hover,
.detailRow:focus {
  color: bisque;
  background-color: #8a624a;
}

.voteCell {
  display: flex;
  justify-content: space-between;
  align-items: center; /* optional, if you want to vertically center content */
}

.buttonContainer {
  display: flex;
  gap: 10px; /* optional, if you want a gap between buttons */
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
