.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #010101;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

h1 {
  color: #8a624a;
  font-size: 2em;
  margin-bottom: 20px;
  padding: 10px;
  background-color: bisque;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
